@import '~slick-carousel/slick/slick.css';
@import '~slick-carousel/slick/slick-theme.css';

.slide img {
  width: 40em;
  margin: 0 auto;
}

.slide {
  transform: scale(0.2);
  transition: transform 300ms;
  opacity: 0.5;
  display: flex !important;
}

.activeSlide {
  transform: scale(1.1);
  opacity: 1;
}

.arrow {
  background-color: #fff;
  position: absolute;
  cursor: pointer;
  z-index: 10;
}

.arrow svg {
  transition: color 300ms;
}

.arrow svg:hover {
  color: #fff;
}

.next {
  right: 0%;
  top: 50%;
}

.prev {
  left: 0%;
  top: 50%;
}
.arrow {
  border: 1px solid #8c3b1d;
  padding: 10px;
  width: 3em;
  border-radius: 5px;
  color: #8c3b1d;
}
.arrow:hover {
  border: 1px solid #8c3b1d;
  padding: 10px;
  width: 3em;
  border-radius: 5px;
  color: #fff;
  background: #8c3b1d;
}

.slider-container {
  margin-bottom: 10%;
}

/* .slick-slide {
  width: 349px !important;
} */
