@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Montserrat+Subrayada:wght@400;700&family=Poppins:wght@400;500;600&family=Roboto:wght@100;300&display=swap');

.section-title {
  text-align: center;
  margin-top: 65px;
  margin-bottom: 75px;
}

.section-title h2 {
  font-weight: 700;
  text-transform: capitalize;
  font-size: 33px;
  line-height: 1.3;
  color: #333;
  font-family: 'Poppins', sans-serif;
}

.small-title {
  color: rgb(31, 31, 31);
  font-size: 10px;
  display: inline-block;
  padding: 5px 20px;
  font-weight: 600;
  letter-spacing: 2px;
  margin-bottom: 10px;
  text-transform: uppercase;
  border-bottom: 1px dashed #8c3b1d;
}
