@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Montserrat+Subrayada:wght@400;700&family=Poppins:wght@400;500&family=Roboto:wght@100;300&display=swap');

.main {
  margin-top: 8rem !important;
}

.small-heading-feature-container {
  font-size: 10px;
  display: inline-block;
  padding: 5px 20px;
  font-weight: 600;
  letter-spacing: 2px;
  margin-bottom: 10px;
  text-transform: uppercase;
  border-bottom: 1px dashed #8c3b1d;
  font-family: 'Poppins', sans-serif;
}
.second-main-heading {
  font-weight: 700;
  font-size: 33px;
  line-height: 1.3;
  color: #333333;
  font-family: 'Poppins', sans-serif;
}
.future-item {
  height: 10vh;
  padding: 25px 25px;
  margin-bottom: 20px;
  border-radius: 4px;
  box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
  display: flex;
  align-items: center;
}

.future-item h3 {
  font-size: 18px;
  font-weight: 700;
  font-family: 'Poppins', sans-serif;
}
.pulseP {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background: #ff0000;
  margin-right: 20px;
  animation: pulse-animation 2s infinite;
  opacity: 0.5;
  filter: alpha(opacity=40);
  cursor: pointer;
}

.pulseP:hover {
  background: red;
  animation: none;
  opacity: 1;
  filter: alpha(opacity=100);
}

.pulseQ {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background: rgb(0 123 255 / 75%);
  margin-right: 20px;
  animation: pulse-animation 2s infinite;
  opacity: 0.5;
  filter: alpha(opacity=40);
  cursor: pointer;
}

.pulseQ:hover {
  background: rgb(0 123 255 / 75%);
  animation: none;
  opacity: 1;
  filter: alpha(opacity=100);
}

.pulseR {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background: #8c3b1d;
  margin-right: 20px;
  animation: pulse-animation 2s infinite;
  opacity: 0.5;
  filter: alpha(opacity=40);
  cursor: pointer;
}
.pulseR:hover {
  background: #8c3b1d;
  animation: none;
  opacity: 1;
  filter: alpha(opacity=100);
}

.pulseS {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background: #ffaa00;
  margin-right: 20px;
  animation: pulse-animation 2s infinite;
  opacity: 0.5;
  filter: alpha(opacity=40);
  cursor: pointer;
}
.pulseS:hover {
  background: #ffaa00;
  animation: none;
  opacity: 1;
  filter: alpha(opacity=100);
}

.pulseT {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background: #70d000;
  margin-right: 20px;
  animation: pulse-animation 2s infinite;
  opacity: 0.5;
  filter: alpha(opacity=40);
  cursor: pointer;
}
.pulseT:hover {
  background: #70d000;
  animation: none;
  opacity: 1;
  filter: alpha(opacity=100);
}
.pulseU {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background: #ff0000;
  margin-right: 20px;
  animation: pulse-animation 2s infinite;
  opacity: 0.5;
  filter: alpha(opacity=40);
  cursor: pointer;
}
.pulseU:hover {
  background: #ff0000;
  animation: none;
  opacity: 1;
  filter: alpha(opacity=100);
}

@keyframes pulse-animation {
  0% {
    box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.2);
  }
  70% {
    box-shadow: 0 0 0 20px rgba(0, 0, 0, 0);
  }

  100% {
    box-shadow: 0 0 0 20px rgba(0, 0, 0, 0);
  }
}
