@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Montserrat+Subrayada:wght@400;700&family=Poppins:wght@400;500&family=Roboto:wght@100;300&display=swap');

.learnMoreContainer {
  background: #b4ab80;
  display: flex;
  justify-content: space-around;
  height: 85vh;
  margin-top: 15vh;
}
.leftViewLearnMore {
  margin-top: 6%;
}

.smallHeadingLearnMore {
  font-size: 10px;
  display: inline-block;
  padding: 5px 20px;
  font-weight: 600;
  margin-top: 6%;
  letter-spacing: 2px;
  margin-bottom: 10px;
  text-transform: uppercase;
  border-bottom: 1px dashed #8c3b1d;
  font-family: 'Poppins', sans-serif;
}
.RightViewLearnMore {
  margin-top: 6%;
}

.SecondmainHeadingLearnMore h2 {
  font-weight: 700;
  font-size: 33px;
  line-height: 1.3;
  color: #333333;
  font-family: 'Poppins', sans-serif;
}
.learnMoreLists {
  width: 100%;
  margin: auto;
  display: block;
  padding: 12px 10px;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.5px;
  outline: none !important;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}
.learnMoreLists i {
  color: #8c3b1d;
}
.learnMoreLists span {
  color: black;
  letter-spacing: 0.5px;
  font-style: normal;
  padding-bottom: 20px;
  padding-left: 47px;
  font-weight: 500;
  position: relative;
  z-index: 2;
}
.learnMoreButtonLink {
  width: 33%;
  height: 6vh;
  background: #8c3b1d;
  border: none;
  color: white;
  font-size: 16px;
  font-weight: 700;
  margin-top: 10px;
  font-family: 'Poppins', sans-serif;
}
.learnMoreButtonLink:hover {
  background-color: #b4ab80;
  border: 2px solid #8c3b1d;
  color: black;
}
