.logo-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.myLogo {
  border: 1px solid white;
  background: white;
  padding: 9px;
  color: #a52a2a;
  font-size: 22px;
  font-weight: 700;
  border-radius: 100px;
}
.heading {
  margin-left: 6px;
}
.heading h4 {
  margin-bottom: 0px;
  font-size: 24px;
  font-weight: 700;
  color: #ffffff;
}

.heading h6 {
  font-size: 18px;
  font-weight: 700;
  color: #ffffff;
}
