.navbar {
  height: 14vh !important;
  background: #8c3b1d !important;
  position: fixed;
  overflow: hidden;
}
.navbarContainer {
  position: fixed;
}
.navbar-collapse {
  margin-left: 40% !important;
}
.nav-link {
  color: #ffff !important;
  text-transform: capitalize !important;
  font-weight: 600 !important;
  font-size: 14px !important;
  letter-spacing: 0.5px !important;
  font-family: 'Poppins', sans-serif !important;
}
.nav-link:hover {
  border-bottom: 2px solid white;
}
