@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Montserrat+Subrayada:wght@400;700&family=Poppins:wght@400;500&family=Roboto:wght@100;300&display=swap');

.bannerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  background: url('../../../public/images/abc.jpeg');
  height: 85vh;
  width: 100%;
}
.colorOverlay {
  height: 85vh;
  width: 100%;
  background: #421302;
  opacity: 0.7;
  position: absolute;
}
.bannerHeading {
  z-index: 1;
}
.bannerHeading h1 {
  font-size: 6em;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 0px;
  font-weight: 700;
  line-height: 1.3;
  font-family: 'Poppins', sans-serif;
}
.bannerHeading h6 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  color: #ffffff;
  text-transform: uppercase;
  margin-bottom: 20px;
  line-height: 1.3;
  font-family: 'Poppins', sans-serif;
}

.bannerHeading p {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffff;
  font-size: 16px;
  line-height: 1.5;
}
